<!DOCTYPE html>
<html>
  <head>
    <title>ShortLink</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
  <section class="main-container">
    <div class="container">
      <%= render  'home/flash_messages' %>
      <%= render 'home/nav_links' %>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 col-sm-offset-2 col-md-offset-3 col-lg-offset-3">
          <%= yield %>
          <div class="errors-container">
            <div id="url-errors" class="alert alert-danger ">
              <%= render partial: 'urls/errors', locals: { messages: error_messages(@url) } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  </body>
</html>
